.footer{
    background-color: #001524;
    height: 100%;
    padding: 20px 0;
    .copyright{
        height:100%;
        display: flex;
        flex-direction: column;
        font-size: 15px;
        color: #9e9e9e;
        p{
            margin: 0;
            margin-bottom: 10px;
        }
        a{
            color: #9e9e9e;
            margin-bottom: 10px;
            width: fit-content;
        }
    }
    .footer-icons{
        display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
        a{
            color: #9e9e9e;
            img{
                width: 100px;
            }
        }
    }
    .footer-card{
        margin: 10px 0;
    }
    .footer-link{
        display: flex;
        flex-direction: column;
        a{
            font-size: 15px;
            color: #9e9e9e;
            margin-bottom: 10px;
            text-transform: uppercase;
            width: fit-content;
        }
    }
    .social-title{
        font-size: 20px;
        color: #9e9e9e;;
        margin: 0;
        text-align: center;
    }
    .app-links{
        a{
            width: fit-content;
            img{
                margin-bottom: 20px;
            }
        }
    }
}

@media screen and (max-width:576px){
    .footer{
        background-color: #001524;
        height: 100%;
        padding: 20px 0;
        .app-links{
            display: flex;
            margin-top: 20px;
            flex-direction: column;
            align-items: center;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .footer{
        .social-title{
                text-align: left;
        }
        .footer-icons{
            justify-content: space-between;
            margin-top: 2rem;
            padding-right: 71px;
        }
    }
}