body{
  a{
    text-decoration: none !important;
  }
}
.hamburger-menu-active{
  &::before{
    content: '\f00d';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #fff;
  }
}
.hamburger-menu {
  display: inline-block;
  height: 30px;
  padding: 0.2rem 0.5rem;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 1.7rem;
  right: 1rem;
  background: #8bc34a;
  display: none;
  &::before{
    content: '\f0c9';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #fff;
  }
  &:hover {
    cursor: pointer;
  }

  .menu-item {
    background: #fff;
    display: block;
    height: 3px;
    margin: 0 0 6px;
    transition: all 0.3s ease-in-out;
    width: 35px;
  }
    
  &.open {

    .menu-item {
      margin:5px 1px -2px;

      &:first-child {
        transform: rotate(45deg);
        transform-origin: 10px;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        transform-origin: 8px;
      }
    }
  }
}
// styling of dropdown menu
.mobile-header-nav {
  background-color: #fff;
  display: none; 
  list-style: none;  
  margin: 0; 
  padding: 0; 
  position: absolute;
  top: 74px; 
  width: 100%;
  z-index: 999;
  
  li {
    border-bottom: 1px solid #ccc;
    a {
      color: #333;
      display: block;
      padding: 10px 1rem;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      font-size: 12px;
      &:hover {
        // background-color: lighten(#222222, 5%);
      }
    }
  }
  .account-mob{
    display: flex;
    flex-direction: column;
    position: relative;
    button{
      position: absolute;
      right: 1rem;
      transform: rotate(-90deg);
      background: transparent;
      border: none;
      &::before{
        content: "\f053";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: #8bc34a;
      }
    }
    .ast-menu-btn{
      &:focus{
        outline: none;
      }
    }
    .ast-menu-btn-active{
      transform: rotate(90deg);
      outline: none;
    }
    ul{
      display: none;
      padding: 0;
      li{
        list-style-type: none;
        padding-left: 30px;
        border-bottom: 1px solid #eaeaea;
        text-transform: uppercase;
        a{
          i{
            margin-right: 10px;
            transform: rotate(180deg);
          }
        }
      }
      #menu-item-1{
        a{
          color: #8bc34a;
        }
      }
    }
    .sub-menu-active{
      display: block;
    }
  }
}
.header{
    padding: 15px 0 10px 0;
    border-bottom: 1px solid #eaeaea;
.header-descktop{
    .header-left{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .logo{
        img{
            width: 70px;
            height: 66.5px;
        }
    }
    .tagline{
      h1{
        font-size: 20px;
        margin-bottom: 0;
        font-weight: normal;
      }
    }
    }
    .header-links{
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .link-active{
            color: #8bc34a;
        }
        a{
            color: #333333;
            text-transform: uppercase;
            font-size: 14px;
            font-family: "opensans";
            &:hover{
              color: #8bc34a;
            }
        }
        li{
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          &::before{
            content: "";
            width: 18px;
            height: 18px;
            background-color: #8bc34a;
            box-shadow: 1px 1px 3px 0 rgba(0,0,0,.3);
            border-radius: 50%;
            position: absolute;
            top: -9px;
            right: -13px;
          }
          .basket-count{
            position: absolute;
            top: -11px;
            right: -8px;
            font-size: 13px;
          }
          .icons{
            padding: 0 5px;
            font-size: 16px;
            font-weight: bold;
            span{
              padding-right: 5px;
              font-size: 16px;
              &:hover{
                color: #8bc34a;
              }
            }
          }
          a{
            i{
              font-size: 22px;
            }
          }
        
         
        }
    }
}
.burger-menu {
    display: none;
  }
  .burger-menu-image {
    img {
      position: absolute;
      top: 1.5rem;
    }
  }
  .burger-menu-btn {
    width: 3rem;
    height: 2.5rem;
    background-color: #8bc34a;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1s ease;
    z-index: 9999;
    position: relative;
  }
  
  .burger-menu-lines,
  .burger-menu-lines::after,
  .burger-menu-lines::before {
    position: absolute;
    width: 2rem;
    height: 5px;
    background-color: #fff;
  }
  .burger-menu-lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
  }
  .burger-menu-lines::after {
    content: "";
    top: -12px;
    transition: all 0.5s ease;
  }
  .burger-menu-lines::before {
    content: "";
    top: 12px;
    transition: all 0.5s ease;
  }
  
  .burger-menu-lines-active .burger-menu-lines {
    background-color: transparent;
  }
  
  .burger-menu-lines-active .burger-menu-lines::before {
    top: 0;
    transform: rotate(-45deg);
  }
  
  .burger-menu-lines-active .burger-menu-lines::after {
    top: 0;
    transform: rotate(45deg);
  }
  .catalog-link-mobile {
    display: none !important;
  }
  
  .nav-panel-mobil {
    position: fixed;
    left: 0;
    background-color: #fff;
    height: 100vh;
    z-index: 99;
    transition: 0.5s;
    width: 100%;
    text-align: center;
    transform: translateX(-100%);
    font-size: 20px;
    font-weight: bold;
    padding-top: 1rem;
    top: 0;
    display: flex;
    align-items: center;
  }
  .nav-panel-mobil-active {
    transform: translateX(0);
  }
  .mobile-logo{
      display: none;
  }
  
}
.basket-mobile{
  display: none;
  width: 30px;
  position: absolute;
  right: 4rem;
  top: 2rem;
  // display: flex;
  &::before{
    content: '';
    width: 15px;
    height: 15px;
    background-color: #8bc34a;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -8px;
    right: -7px;
  }
       .basket-count{
            position: absolute;
            top: -11px;
            right: -8px;
            font-size: 12px;
            font-weight: 600;
          }
            span{
              padding-right: 5px;
              font-size: 16px;
          }
          i{
            font-size: 22px;
            color: #333;
          }
}



@media screen and (max-width:576px){
  .hamburger-menu{
      display: block;
  }
  .basket-mobile{
    display: block;
  }
    .header{
        height: 75px;
        .header-descktop{
            display: none;
        }
        .burger-menu{
            display: block;
        }
        .burger-menu-btn{
            display: block;
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
        .mobile-logo{
            display: block;
            width: 68%;
            position: absolute;
            top: 0.5rem;
            left: 1rem;
            .mobile-logo-content{
              display: flex;
              align-items: center;
              img{
                height: 60px;
            }
            .tagline{
              h1{
                font-size: 17px;
                font-weight: normal;
                margin-left: 12px;
                margin-bottom: 0;
              }
            }
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
  .hamburger-menu{
    display: block;
  }
  .basket-mobile{
    display: block;
  }
    .header{
        height: 75px;
        .header-descktop{
            display: none;
        }
        .burger-menu{
            display: block;
        }
        .burger-menu-btn{
            display: block;
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
        .mobile-logo{
            display: block;
            width: 68%;
            position: absolute;
            top: 0.5rem;
            left: 1rem;
            .mobile-logo-content{
              display: flex;
              align-items: center;
              img{
                height: 60px;
            }
            .tagline{
              h1{
                font-size: 20px;
                font-weight: normal;
                margin-left: 20px;
                margin-bottom: 0;
              }
            }
            }
        }
    }
}






