@font-face{
    font-family: "opensans";
    src: url(../font/OpenSans-Regular.ttf);
}
@font-face{
    font-family: "lato";
    src: url(../font/Lato-Regular.ttf);
}
@font-face{
    font-family: "lato-black";
    src: url(../font/Lato-Black.ttf);
}