.about{
    .about-row{
        justify-content: center;
        margin-top: 60px;
        .about-content{
            margin-bottom: 29px;
            img{
                width: 100%;
            }
           
            span{
                font-size: 16px;
                font-family: "opensans";
                color: #333333;
            }
            h2{
                font-size: 36px;
                color: #000;
                font-family: 'Merriweather', serif;
                margin-top: 1.6em;
                font-weight: bold;
            }
            p{
                font-size: 18px;
                font-family: "opensans";
                color: #000;
                margin-top: 5px;
                margin-bottom: 0;
            }
        }
        .about-content-inner{
            margin: 30px 0 50px 0;
            .content-image{
                img{
                    width: 100%;
                }
            }
            .content-text{
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                p{
                    font-size: 18px;
                    font-family: "opensans";
                    color: #000;
                    margin-top: 5px;
                    margin-bottom: 20px; 
                }
            }
        }
        .about-video{
            margin-bottom: 80px;
        }
    }
}
.p-about{
    padding: 20px 0;
    text-align: center;
}
.title{
    h1{
        font-size: 52px;
        color: #000;
        font-family: 'Merriweather', serif;
        font-weight: bold;
    }
}

@media screen and (max-width:576px){
    .about{
        .about-row{
        .about-video{
            iframe{
                width: 100%;
                height: 100%;
            }
        }
    }
}
}

@media screen and (min-width:768px) and (max-width:1024px){
    .about{
        .about-row{
        .about-video{
            iframe{
                width: 100%;
                height: 100%;
            }
        }
    }
}
}