.account{
    background-color: #F5F5F5;
    padding: 100px 0;
    .account-inner{
        background-color: #ffffff;
        padding: 100px;
        h2{
            font-family: 'Merriweather',serif;
            font-size: 26px;
            margin-bottom: 25px;
            line-height: 1.2;
            color: #333333;
            font-weight: bold;
        }
        .account-form{
            border: 1px solid #d3ced2;
            padding: 20px;
            border-radius: 5px;
            p{
                width: 72%;
                text-align: center;
                margin: 0 auto;
                font-size: 14px;
                font-family: 'Merriweather',serif;
                a{
                    color: #333333;
                    text-decoration: underline !important;
                }
            }
            .account-check{
                display: flex;
                align-items: center;
                margin: 10px 0;
                h3{
                    font-size: .9rem;
                    font-weight: bold;
                    font-family: 'opensans';
                    margin-bottom: 0;
                    margin-left: 3px;
                }
            }
            .account-button{
                display: flex;
                flex-direction: column;
                a{
                    font-size: 18px;
                    color: #8bc34a;
                    margin:10px 0 20px 0;
                }
            }
           
        }
    }
}
.account-link{
    .account-title{
        display: flex;
        align-items: baseline;
        justify-content: center;
        padding-top: 10px;
        margin-bottom: 30px;
    h3{
        font-size: 21px;
        font-weight: bold;
        font-family: 'Merriweather',serif;
        margin: 0 3px 5px 0;
    }
    span{
        color: red;
        font-size: 21px;
        font-weight: bold;
    }
}

}
.account-password{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    input{
        width: 30%;
        border: 1px solid #ddd;
        padding: 12px;
        border-radius: 60px;
    }
}
.titleDiv{
    h1{
        font-family: 'Merriweather',serif;
        font-size: 30px;
        margin-bottom: 20px;
        line-height: 1.2;
        color: #333333;
        font-weight: bold;
    }
    p{
        color: #333333;
        font-family: "opensans";
        font-size: 16px;
    }
}
.button-item{
    width: fit-content;
    padding: 12px 25px;
    margin-left: -4rem;
    background-color:#8bc34a;
    border:none;
    border-radius: 60px;
    font-weight: 700;
    color: #ffffff;
    font-size: 17px;
    text-decoration: none;
    &:hover{
        background-color: #7baf42;;
    }
    &:focus{
        outline: none;
    }
}
.enter-code-active{
    display: block !important;
}
.enter-code{
    display: none;
    h3{
        font-size: 21px;
        font-weight: bold;
        font-family: 'Merriweather',serif;
        margin: 0 3px 5px 0;
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
    }
}
@media screen and (max-width:576px){
    .account{
        padding: 20px 0;
        .account-inner{
            padding:21px 14px;
           
            h2{
                font-size: 24px;
            }
            .account-form{
               margin: 20px 0;
                .account-button{
                    a{
                        font-size: 15px;
                    }
                }
               
            }
        }
    } 
    .account-password{
        display: flex;
        flex-direction: column;
        input{
            width: 100%;
        }
    }
    .button-item{
        margin: 20px auto;
    }
    .titleDiv{
        h1{
            margin-bottom: 15px;
        }
    } 
}

@media screen and (min-width:768px) and (max-width:1024px){
    .account{
        padding: 20px 0;
        .account-inner{
            padding:22px 31px;
            h2{
                font-size: 24px;
            }
            .account-form{
               margin: 30px 0;
               
                .account-button{
                    a{
                        font-size: 16px;
                    }
                }
               
            }
        }
    } 
    .account-link{
        input{
            padding: 10px;
        }
    }
    .titleDiv{
        h1{
            margin-bottom: 15px;
        }
       
    }  
}