.agreement-page{
    padding-bottom: 50px;
    .agreement-container{    
         max-width: 1170px;
         .agreement-title{
             padding-top: 48px;
             h1{
                font-size: 60px;
                line-height: 60px;
                font-weight: 900;
                text-align: center;
             }
             h2{
                 font-size: 40px;
                 text-align: center;
             }
             p{
                 font-size: 16px;
                 font-family: 'lato';
                color: #333;
                text-align: center;
             }
         }
         .agreement-content{
             h3{
                 padding: 20px 0;
                 font-family: 'lato';
                 font-size: 20px;
                 line-height: 25px;
                 font-weight: 900;
             }
             .agreement-text{
                 p{
                     font-family: 'lato';
                     font-size: 14px;
                 }
             }
         }
    }
}

@media screen and (max-width:576px){
    .agreement-page{
        .agreement-container{    
             .agreement-title{
                 padding-top: 28px;
                 h1{
                    font-size: 20px;
                    line-height: 20px;
                 }
                 h2{
                     font-size: 18px;
                 }
                 p{
                     font-size: 14px;
                 }
             }
             .agreement-content{
                 h3{
                     padding: 10px 0;
                     line-height: 22px;
                 }
                 .agreement-text{
                     p{
                         font-size: 12px;
                     }
                 }
             }
        }
    }
}


@media screen and (min-width:768px) and (max-width:1024px){
    .agreement-page{
        .agreement-container{    
             .agreement-title{
                 h1{
                    font-size: 44px;
                 }
             }
        }
    }
}