.basket{
    .basket-info{
        .basket-content{
            display: flex;
            align-items: center;
            padding: 1rem 1.5rem;
            margin-bottom: 1.6em;
            background-color: #f7f6f7;
            border-top: 3px solid #8bc34a;
            p{
                margin: 0;
                color: #515151;
                font-size: 18px;
            }
            img{
                margin-right: 15px;
            }
        }
        button{
            margin-bottom: 20px;
        }
    }
}
