.checkout-page{
    background-color: #f9f9f9;
    .checkout-container{
        max-width: 1260px;
        padding: 0 15px 50px;
    .back-choose{
        
        a{
        color: #7f7f7f;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        padding: 13px 0 13px 30px;
        position: relative;
        display: flex;
        opacity: .72;
        .back-icon{
            margin-top: 2px;
        &::before{
            content: '';
            background-image: url(../image/arrow.svg) !important;
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: center;
            width: 20px;
            height: 20px;
            display: block;
            transform: rotate(90deg);
        }
        }
        }
    }
    .checkout-panel{
        
        .checkout-left{
            background-color: #fff;
            padding: 30px;
            h1{
                margin-bottom: 20px;
                font-size: 20px;
                line-height: 25px;
                font-weight: 900;
            }
            .adress-form{
                .adress-select{
                        .select2-container{
                            width: 100%  !important;
                        }
                        .select2-container--default {
                        .select2-selection--single{
                        border: 1px solid #dadada !important;
                        border-radius: 25px !important;
                        &:focus{
                            outline: none;
                        }
                        .select2-selection__placeholder{
                            color: #333 !important;
                            padding: 20px 0;
                        }
                        }
                        
                    }
                }
                .select2-container{
                    width: 100%  !important;
                }
                .select2-container--default {
                .select2-selection--single{
                border: 1px solid #dadada !important;
                border-radius: 25px !important;
                padding:20px !important;
                margin-bottom: 24px !important;
                position: relative;
                .select2-selection__rendered{
                    margin-top: -1rem;
                    padding-right: 0 !important;
                    text-transform: uppercase;
                .select2-selection__placeholder{
                    color: #333 !important;
                    padding: 20px 0;
                }
            }
                .select2-selection__arrow{
                    top: 7px !important;
                        &::before{
                            content: '';
                            background-image: url(../image/arrow.svg) !important;
                            background-repeat: no-repeat;
                            background-position-y: center;
                            position: absolute;
                            top: 0;
                            width: 20px;
                            height: 20px;
                        }
                        b{
                            display: none;
                        }
                
                }
            }   
            }
                .adress-change{
                    margin-top: 5px;
                    a{
                        text-decoration: underline !important;
                        color: #333;
                        padding: 0;
                        &:focus{
                            outline: none;
                            box-shadow: none;
                        }
                    }
                }
            }
            .payment-title{
                margin-top: 20px;
                margin-bottom: 25px;
            }
          .info-cardowner{
              margin-top: 30px;
          }
        }
        .checkout-right{
            background-color: #fff;
            padding: 30px 26px;
            .checkout-menu-list{
                border-bottom: 1px solid #dadada;
                padding-bottom: 13px;
                .dishes-list{
                    font-family: "lato";
                    h1{
                        font-size: 16px;
                        margin: 0;
                    }
                    span{
                        font-size: 12px;
                        color: #7f7f7f;
                    }
                }
                .dishes-cost{
                    font-size: 20px;
                    font-weight: 500;
                    white-space: nowrap;
                    padding-right: 15px;
                    display: flex;
                    align-items: center;
                }
                .text-overflow{
                   .spoiler-icons{
                       display: flex;
                    .show-dishes{
                        color: #59b958;
                        background-color: transparent;
                        border: none;
                        font-size: 16px;
                        padding: 0;
                        &:focus{
                            outline: none;
                        }
                }
                    .spoiler-arrow{
                        background-image: url(../image/arrow2.svg);
                        background-repeat: no-repeat;
                        width: 14px;
                        height: 20px;
                        display: block;
                        margin-top: 10px;
                        margin-left: 5px;
                        transform: rotate(0deg);
                    }
                    .spoiler-arrow-active{
                        // transform: rotate(0deg);
                        // margin-bottom: 0;
                        margin-top: 0px;
                        transform: rotate(180deg);
                        margin-bottom: 10px;
                    }
                   }
                    .read-overflow{
                        display: none;
                        ul{
                            padding: 10px 0 15px 20px;
                            margin: 0;
                            li{
                                color: #7f7f7f;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            .scissors{
                padding-top: 10px;
                .dishes-cost{
                    padding: 0;
                    justify-content: space-between;
                .close-panel{
                    width: 16px;
                    height: 16px;
                    background-image: url(../image/close.svg);
                    background-repeat: no-repeat;
                    display: block;
                    opacity: .3;
                }
            }
            }
            .price-inner{
                .price-title{
                    h1{
                        font-size: 16px;
                        font-weight: 500;
                        color: #333;  
                        font-family: 'lato'; 
                        margin-top: 13px;                
                    }
                    p{
                        font-size: 13px;
                        line-height: 20px;
                        opacity: .8;
                        font-family: 'lato';
                        a{
                            color: #7f7f7f; 
                            background-color: transparent;
                            border: none;
                            width: fit-content;
                            padding: 0;
                            font-size: 12px;
                            margin-top: -5px;
                            &:focus{
                                outline: none;
                                box-shadow: none;
                            }
                            
                        }
                        .btn{
                            border-bottom: 1px dashed #7f7f7f;
                            border-radius: 0;
                            font-weight: 700;
                        }
                    }
                    span{
                        font-size: 24px;
                        line-height: 28px;
                    }
                }
                .price-subscription{
                    background-color: #e4f3e3;
                    padding: 20px 1.5rem;
                    .price-title{
                        span{
                            color: #59b958;
                        }
                    }
                    .modal{
                        .question-modal{
                            max-width: 900px;
                            .modal-header{
                                border-bottom:0;
                                h2{
                                    font-size: 40px;
                                    line-height: 46px;
                                    font-weight: 900;
                                    width: 100%;
                                    text-align: center;
                                }
                                .close{
                                    outline: none;
                                    box-shadow: none;
                                }
                            }
                            .modal-content{
                                padding: 30px 30px 0;
                            .modal-body{
                                // padding: 10px 20px 20px;
                                .question{
                                    .question-arrow{
                                        display: flex;
                                        justify-content: center;
                                        padding-bottom: 18px;
                                        transition: .75s;
                                    }
                                    .question-arrow-active{
                                        transform: rotate(180deg);
                                    }
                                }
                                .questions{
                                    .btn-primary{
                                        background-color: #fff;
                                        color: #000;
                                        border-color: #fff;
                                        text-align: left;
                                        font-size: 20px;
                                        font-weight: 700;
                                        font-family: 'lato';
                                        padding: 10px 20px;
                                        &:focus{
                                            outline: none;
                                            box-shadow: none;
                                        }
                                    }
                                    .card-body{
                                        color: #333;
                                        opacity: .6;
                                        border-bottom: 1px solid rgba(0,0,0,.125);
                                        border-top: 0;
                                        border-left: 0;
                                        border-right: 0;
                                        border-radius: 0;
                                    }
                                }
                            }
                        }
                        }
                    }
                }
                .price{
                    padding: 30px 1.5rem; 
                }
            }
            .checkout-list-bottom{
                .checkout-btn{
                    display: flex;
                    justify-content: center;
                    padding: 1rem 0;
                    margin-top: 1rem;
                    button{
                        background: #999;
                        color: #fff;
                        cursor: default;
                        width: 220px;
                        height: 50px;
                        border-radius: 44px;
                        border: none;
                    }
                }
                .checkbox-wrapper{
                    label{
                        
                    }
                }
            }
        }
    }
}
}
.payment-method{
    display: flex;
    margin-bottom: 30px;
    .card-left{
        width: 55%;
        display: flex;
        flex-direction: column;  
        padding: 30px;
        border: 1px solid #a6d8a5;
        border-radius: 12px;            
        .payment-info{
            .control-image{
                text-align: right;
                img{
                width: 51px;
                height: 40px;
                }
            }
        }
    }
    .card-right{
        width: calc(45% + 40px);
        border: 1px solid #a6d8a5;
        margin-left: -40px;
        border-radius: 12px;
        padding-left: 39px;
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        .card-stripe{
            margin-top: 20px;
            height: 50px;
            opacity: .3;
            background: #a6d8a5;
        }
        .card-info{
            padding: 30px;
            input{
                width: 100%;
                border-radius: 25px;
                white-space: nowrap;
                font-size: 12px;
                line-height: 1rem;
                padding: 1rem 1.3rem;
                border: 1px solid #dadada;
                margin-bottom: 20px;
                &::placeholder{
                    color: #333;
                    opacity: .5;
                }
            }
            .card-info-bottom{
                text-align: right;
                position: relative;
                input{
                    width: 52%;
                    &:focus{
                        outline: none;
                    }
                }
                span{
                    position: absolute;
                    right: 1.5rem;
                    top: 1rem;
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    border: 1px solid #cdcdcd;
                    font-size: 12px;
                    line-height: 18px;
                    font-family: 'l';
                    text-align: center;
                    opacity: .8;
                    cursor: pointer;
                    -webkit-transition: .2s;
                    transition: .2s;
                    color: #333;
                    font-weight: 700;
                }
                .tooltip-card{
                    display: none;
                    position: absolute;
                    background: #fff;
                    z-index: 999;
                    right: -18.5rem;
                    top: 64px;
                    width: 360px;
                    text-align: center;
                    padding: 20px;
                    box-shadow: 0 4px 10px 0 hsla(0,0%,64.7%,.5);
                    &::before{
                        content:'';
                        border-left: 9px solid transparent;
                        border-right: 9px solid transparent;
                        border-bottom: 9px solid #fff;
                        position: absolute;
                        top: -9px;
                        left: 21px;
                    }
                    p{
                        font-size: 12px;
                        line-height: 20px;
                        margin: 0;
                    }
                }
                .tooltip-card-active{
                    display: block;
                }
            }
        }
    }
}
.payment-input{
    width: 100%;
    border-radius: 25px;
    white-space: nowrap;
    font-size: 12px;
    line-height: 1rem;
    padding: 1rem 1.3rem;
    border: 1px solid #dadada;
    margin-bottom: 20px;
    &::placeholder{
        color: #333;
        opacity: .5;
    }
}  
.cards-icon{
    margin-bottom: 20px;
}
.payment-text{
    font-size: 12px;
    text-align: center;
}
.adress-modal{
    .modal-dialog{
        max-width: 940px;
        margin: 0 auto;
        .modal-content{
            padding: 30px 30px 50px 30px;
            overflow-y: scroll;
            border:none;
            border-radius: 0;
            .modal-body{
                .card-info-body{
                    padding: 0 100px;
                    .add-card-btn{
                        display: flex;
                        justify-content: center;
                        padding: 24px 0;
                        button{
                            background: #999;
                            color: #fff;
                            cursor: default;
                            width: 220px;
                            height: 50px;
                            border-radius: 44px;
                            border: none;
                        }
                    }
                }
            }
        .new-adress{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            button{
                position: absolute;
                top: 1rem;
                right: 1rem;
            }
            .modal-title{
                padding-top: 36px!important;
                font-size: 40px;
                line-height: 46px;
                font-weight: 900;
                color: #333;
                margin-bottom: 20px;
            }
            p{
                font-size: 14px;
                margin-bottom: 23px;
                font-weight: 600;
            }
        }
        .modal-body{
            .map{
                display: flex;
                justify-content: center;
            }
        }
        .modal-footer{
            border: none;
            .new-adress-info{
                .new-adress-input{
                    input{
                        width: 100%;
                        padding: 1rem 1.3rem;
                        border: 1px solid #dadada;
                        border-radius: 25px;
                        margin-bottom: 24px;
                    }
                }
            }
            .add-adress{
                display: flex;
                justify-content: center;
                a{
                    width: 220px;
                    height: 50px;
                    background: #59b958;
                    padding: 1rem 3rem;
                    text-transform: uppercase;
                    color: #fff;
                    font-size: 12px;
                    border-radius: 44px;
                    text-align: center;
                    &:hover{
                        background: #8bce8a;
                    }
                }
            }
        }
    }
    }
}
.label--checkbox {
    position: relative;
    display: flex;
    margin: .5rem;
    line-height: 135%;
    
    cursor: pointer;
    p{
        font-family: 'lato';
        font-size: 12px;
        a{
            color: #59b958;
            border-bottom: 1px solid #59b958;
        }
    }
  }
  
  .checkbox {
    position: relative;
    top: rem(-6);
    
    margin: 0 1rem 0 0 ;
    
    cursor: pointer;
   
    &:before {
        transition: all .3s ease-in-out;
      
          content: "";
      
          position: absolute;
          left: 0;
          z-index: 1;
    
          width: 1.1rem;
          height: 1.1rem;
      
          border: 2px solid #f2f2f2; 
    }
    
    &:checked {
      &:before {
        transform: rotate(-45deg);
            height: .5rem;
    
            border-color: green;
            border-top-style: none;
            border-right-style: none;
      } 
    }
    
    &:after {
      content: "";
      
      position: absolute;
      top: rem(-2);
      left: 0;
      
      width: 1.1rem;
      height: 1.1rem;
      
      background: #fff;
      border: 1px solid #f2f2f2;
      cursor: pointer;
    }
  }
  .adress-modal{
    .modal-dialog{
        max-width: 940px;
        margin: 0 auto;
        .modal-content{
            padding: 30px 30px 50px 30px;
            overflow-y: scroll;
            border:none;
            border-radius: 0;
        .new-adress{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            button{
                position: absolute;
                top: 1rem;
                right: 1rem;
            }
            .modal-title{
                padding-top: 36px!important;
                font-size: 40px;
                line-height: 46px;
                font-weight: 900;
                color: #333;
                margin-bottom: 20px;
            }
            p{
                font-size: 14px;
                margin-bottom: 23px;
                font-weight: 600;
            }
        }
        .modal-body{
            .map{
                display: flex;
                justify-content: center;
            }
        }
        .modal-footer{
            border: none;
            .new-adress-info{
                .new-adress-input{
                    input{
                        width: 100%;
                        padding: 1rem 1.3rem;
                        border: 1px solid #dadada;
                        border-radius: 25px;
                        margin-bottom: 24px;
                    }
                }
            }
            .add-adress{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                a{
                    width: 220px;
                    height: 50px;
                    background: #59b958;
                    padding: 1rem ;
                    text-transform: uppercase;
                    color: #fff;
                    font-size: 12px;
                    border-radius: 44px;
                    text-align: center;
                    &:hover{
                        background: #8bce8a;
                    }
                }
                .delete-adress{
                    a{
                        background-color: transparent;
                        text-decoration: underline !important;
                        color: #333;
                        opacity: .6;
                        text-transform: inherit;
                        padding-top: 24px;
                    }
                }
            }
        }
    }
    }
}


  @media screen and (max-width:576px){
    .checkout-page{
        .checkout-container{
        .back-choose{
            a{
            padding: 13px 0 13px 0;
            }
        }
        .checkout-panel{
            .checkout-left{
                .adress-form{
                    .adress-select{
                            .select2-container{
                                width: 100%  !important;
                            }
                            .select2-container--default {
                            .select2-selection--single{
                            border: 1px solid #dadada !important;
                            border-radius: 25px !important;
                            .select2-selection__placeholder{
                                color: #333 !important;
                                padding: 20px 0;
                                font-size: 11px;
                            }
                            }
                            
                        }
                    }
                    .select2-container{
                        width: 100%  !important;
                    }
                    .select2-container--default {
                    .select2-selection--single{
                    border: 1px solid #dadada !important;
                    border-radius: 25px !important;
                    padding:20px !important;
                    margin-bottom: 10px !important;
                    position: relative;
                    .select2-selection__rendered{
                        margin-top: -1rem;
                        padding-right: 0 !important;
                    .select2-selection__placeholder{
                        color: #333 !important;
                        padding: 20px 0;
                        font-size: 11px;
                    }
                }
                    .select2-selection__arrow{
                        top: 7px !important;
                            &::before{
                                content: '';
                                background-image: url(../image/arrow.svg) !important;
                                background-repeat: no-repeat;
                                background-position-y: center;
                                position: absolute;
                                top: 0;
                                width: 20px;
                                height: 20px;
                            }
                            b{
                                display: none;
                            }
                    
                    }
                }   
                }
                    .adress-change{
                        text-align: center;
                        margin: 5px 0 15px;
                        a{
                            text-decoration: underline !important;
                            color: #333;
                        }
                    }
                    .adress-modal{
                        .modal-dialog{
                            .modal-content{
                            .new-adress{
                                .close{
                                    position: absolute;
                                    top: -19px;
                                    right: 0;
                                }
                            }
                        }
                        }
                    }
                }
              .info-cardowner{
                  margin-top: 30px;
              }
            }
            .checkout-right{
                margin-top: 20px;
                .price-inner{
                    .price-title{
                        span{
                            font-size: 19px;
                        }
                        h1{
                            margin-top: 8px;
                        }
                    }
                    .price-subscription{
                        background-color: #e4f3e3;
                        padding: 20px 1rem;
                        .price-title{
                            span{
                                color: #59b958;
                            }
                        }
                        .modal{
                            .question-modal{
                                max-width: 900px;
                                .modal-header{
                                    border-bottom:0;
                                    h2{
                                        font-size: 40px;
                                        line-height: 46px;
                                        font-weight: 900;
                                        width: 100%;
                                        text-align: center;
                                    }
                                    .close{
                                        outline: none;
                                        box-shadow: none;
                                    }
                                }
                                .modal-content{
                                    padding: 30px 30px 0;
                                .modal-body{
                                    // padding: 10px 20px 20px;
                                    .question{
                                        .question-arrow{
                                            display: flex;
                                            justify-content: center;
                                            padding-bottom: 18px;
                                            transition: .75s;
                                        }
                                        .question-arrow-active{
                                            transform: rotate(180deg);
                                        }
                                    }
                                    .questions{
                                        .btn-primary{
                                            background-color: #fff;
                                            color: #000;
                                            border-color: #fff;
                                            text-align: left;
                                            font-size: 20px;
                                            font-weight: 700;
                                            font-family: 'lato';
                                            padding: 10px 20px;
                                            &:focus{
                                                outline: none;
                                                box-shadow: none;
                                            }
                                        }
                                        .card-body{
                                            color: #333;
                                            opacity: .6;
                                            border-bottom: 1px solid rgba(0,0,0,.125);
                                            border-top: 0;
                                            border-left: 0;
                                            border-right: 0;
                                            border-radius: 0;
                                        }
                                    }
                                }
                            }
                            }
                        }
                    }
                    .price{
                        padding: 30px 1rem; 
                    }
                }
                .checkout-list-bottom{
                    .checkout-btn{
                        display: flex;
                        justify-content: center;
                        padding: 1rem 0;
                        margin-top: 1rem;
                        button{
                            background: #999;
                            color: #fff;
                            cursor: default;
                            width: 220px;
                            height: 50px;
                            border-radius: 44px;
                            border: none;
                        }
                    }
                    .checkbox-wrapper{
                        label{
                            
                        }
                    }
                }
            }
        }
    }
    }
    .payment-method{
        display: flex;
        flex-direction: column;
        .card-left{
            width: 100%;          
        }
        .card-right{
            width: 100%;
            border: 1px solid #a6d8a5;
            margin-left: 0;
            margin-top: -10px;
            border-radius: 12px;
            padding-left: 0;
            border-top: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            .card-info{
                .card-info-bottom{
                    input{
                        width: 70%;
                    }
                    .tooltip-card{
                        right: -57px;
                        top: 64px;
                        width: 100%;
                        text-align: center;
                        &::before{
                            content:'';
                            left: 105px;
                        }
                    }
                }
            }
        }
    } 
    .cards-icon{
        img{
            width: 100%;
        }
    }
    .payment-text{
        font-size: 12px;
        text-align: center;
    }
  }


  @media screen and (min-width:768px) and (max-width:1024px){
    .checkout-page{
        .checkout-container{
        .back-choose{
            a{
            padding: 13px 0 13px 0;
            }
        }
        .checkout-panel{
            .checkout-left{
                .adress-form{
                    .adress-select{
                            .select2-container{
                                width: 100%  !important;
                            }
                            .select2-container--default {
                            .select2-selection--single{
                            border: 1px solid #dadada !important;
                            border-radius: 25px !important;
                            .select2-selection__placeholder{
                                color: #333 !important;
                                padding: 20px 0;
                                font-size: 11px;
                            }
                            }
                            
                        }
                    }
                    .select2-container{
                        width: 100%  !important;
                    }
                    .select2-container--default {
                    .select2-selection--single{
                    border: 1px solid #dadada !important;
                    border-radius: 25px !important;
                    padding:20px !important;
                    margin-bottom: 10px !important;
                    position: relative;
                    .select2-selection__rendered{
                        margin-top: -1rem;
                        padding-right: 0 !important;
                    .select2-selection__placeholder{
                        color: #333 !important;
                        padding: 20px 0;
                        font-size: 11px;
                    }
                }
                    .select2-selection__arrow{
                        top: 7px !important;
                            &::before{
                                content: '';
                                background-image: url(../image/arrow.svg) !important;
                                background-repeat: no-repeat;
                                background-position-y: center;
                                position: absolute;
                                top: 0;
                                width: 20px;
                                height: 20px;
                            }
                            b{
                                display: none;
                            }
                    
                    }
                }   
                }
                    .adress-change{
                        text-align: center;
                        margin: 5px 0 15px;
                        a{
                            text-decoration: underline !important;
                            color: #333;
                        }
                    }
                    .adress-modal{
                        .modal-dialog{
                            .modal-content{
                            .new-adress{
                                .close{
                                    position: absolute;
                                    top: -19px;
                                    right: 0;
                                }
                            }
                          
                        }
                        }
                    }
                }
              .info-cardowner{
                  margin-top: 30px;
              }
            }
            .checkout-right{
                .checkout-menu-list {
                    .dishes-cost{
                        span{
                            width: 100%;
                            text-align: right;
                        }
                    }
            }
                        
                .price-inner{
                    .price-title{
                        span{
                            font-size: 19px;
                            width: 100%;
                            display: flex;
                            justify-content: flex-end;
                            padding-right: 10px;
                        }
                        h1{
                            margin-top: 8px;
                        }
                    }
                    .price-subscription{
                        background-color: #e4f3e3;
                        padding: 20px 1rem;
                        .price-title{
                            span{
                                color: #59b958;
                            }
                        }
                        .modal{
                            .question-modal{
                                max-width: 900px;
                                .modal-header{
                                    border-bottom:0;
                                    h2{
                                        font-size: 40px;
                                        line-height: 46px;
                                        font-weight: 900;
                                        width: 100%;
                                        text-align: center;
                                    }
                                    .close{
                                        outline: none;
                                        box-shadow: none;
                                    }
                                }
                                .modal-content{
                                    padding: 30px 30px 0;
                                .modal-body{
                                    // padding: 10px 20px 20px;
                                    .question{
                                        .question-arrow{
                                            display: flex;
                                            justify-content: center;
                                            padding-bottom: 18px;
                                            transition: .75s;
                                        }
                                        .question-arrow-active{
                                            transform: rotate(180deg);
                                        }
                                    }
                                    .questions{
                                        .btn-primary{
                                            background-color: #fff;
                                            color: #000;
                                            border-color: #fff;
                                            text-align: left;
                                            font-size: 20px;
                                            font-weight: 700;
                                            font-family: 'lato';
                                            padding: 10px 20px;
                                            &:focus{
                                                outline: none;
                                                box-shadow: none;
                                            }
                                        }
                                        .card-body{
                                            color: #333;
                                            opacity: .6;
                                            border-bottom: 1px solid rgba(0,0,0,.125);
                                            border-top: 0;
                                            border-left: 0;
                                            border-right: 0;
                                            border-radius: 0;
                                        }
                                    }
                                }
                            }
                            }
                        }
                    }
                    .price{
                        padding: 30px 1rem; 
                    }
                }
                .checkout-list-bottom{
                    .checkout-btn{
                        display: flex;
                        justify-content: center;
                        padding: 1rem 0;
                        margin-top: 1rem;
                        button{
                            background: #999;
                            color: #fff;
                            cursor: default;
                            width: 220px;
                            height: 50px;
                            border-radius: 44px;
                            border: none;
                        }
                    }
                    .checkbox-wrapper{
                        label{
                            
                        }
                    }
                }
            }
        }
    }
    }
    .payment-method{
        .card-right{
            .card-info{
                .card-info-bottom{
                    .tooltip-card{
                        right: -28px;
                        top: 64px;
                        width: 100%;
                        text-align: center;
                        &::before{
                            content:'';
                            left: 170px;
                        }
                    }
                }
            }
        }
    } 
    .cards-icon{
        img{
            width: fit-content;
        }
    }
  }


  @media screen and (min-width:768px) and (max-width:1024px){
    .payment-method{
        .card-right {
            .card-info {
                .card-info-bottom input{
                    width: 76%;
                }
            }
        }
    }
  }