.compain-page{
    margin-bottom: 60px;
    .what-choose{
        h1{
            padding: 48px 0 37px;
            font-size: 60px;
            line-height: 60px;
            font-weight: 900;
            text-align: center;
            background: linear-gradient(180deg,#f7f7f7,#fff);
        }
    }
    .container{
        max-width: 1260px;
    .compain-list{
        table{
            width: 100%;
            overflow: hidden;
            thead{
                .choose-head-active{
                        position: fixed;
                        top: 0;
                        height: 93px;
                        background-color: #fff;
                        z-index: 999;
                        th{
                            border: none;
                        }
                }
                tr{
                    .choose-title{
                        text-align: center;
                        padding: 28px 0 39px;
                        font-size: 16px;
                        line-height: 25px;
                        font-weight: 600;
                    }
                    th{
                        width: 246px;
                        text-align: center;
                        border-bottom: 1px solid #ccc;
                    }
                }
            }
            .actions-row{
               
                .actions-col{
                    padding: 20px 0 30px 0;
                    border: none;
                    display: none;
                    a{
                    margin-right: 5px;
                    background: #59b958;
                    padding: 0 1rem;
                    text-transform: uppercase;
                    color: #fff;
                    font-size: 12px;
                    display: block;
                    line-height: 51px;
                    border-radius: 44px;
                    border: none;
                    width: 99%;
                    height: 50px;
                    }
                }
            }
            tbody{
                border-bottom: 1px solid #ccc;
                tr{
                    td{
                        line-height: 24px;
                        padding: 20px 0; 
                    }
                    .choose-value{
                        font-size: 14px;
                    }
                    .choose-price{
                        font-size: 20px;
                        color: #6cc16b;
                        text-align: center;
                    }
                }
                .choose-row{
                    background: #f9f9f9;
                    td{
                    padding: 13px 25px;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    }
                }
                .choose-border{
                    border-bottom: 1px solid #ccc;
                    .choose-value{
                        width: 246px;
                    }
                    .choose-price{
                        position: relative;
                        &:hover{
                            &::before{
                                background-color: #f9f9f9;
                                content: '';  
                                height: 10000px;    
                                left: 0;
                                position: absolute;  
                                top: -5000px;
                                width: 100%;
                                z-index: -1;  
                            }
                        }
                        .change{
                            color: #333;
                            font-size: 16px;
                        }
                    }
                    td{
                        i{
                            color: #6cc16b;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    .compain-list-mobile{
        display: none;
    }
}

}

@media screen and (max-width:576px){
    .compain-page{
        .what-choose{
            h1{
                font-size: 40px;
                line-height: 46px;
            }
        }
        .container{
            .compain-list{
                display: none;
            }
            .compain-list-mobile{
                display: block;
                .select-div{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    select{
                        width: 45%;
                        height: 50px;
                        padding: 0 20px 0 26px;
                        border-radius: 25px;
                        border: 1px solid #ccc;
                        color: #333333;
                    }
                }
                h2{
                text-align: center;
                padding-bottom: 20px;
                font-size: 20px;
                font-weight: 100;            
                }
                .choose-mobile-row{
                    border-bottom: 1px solid #dadada;;
                    .choose-mobile-title{
                        padding-top: 10px;
                        h1{
                            width: 100%;                            opacity: .5;
                            font-size: 12px;
                            line-height: 24px;
                        }
                    }
                    .choose-mobile-col{
                        padding-right: 10px;
                        padding-bottom: 15px;
                        p{
                        font-size: 17.5px;
                        color: #333;
                        margin: 0;
                        }
                        i{
                            font-size: 21px;
                            color: #6cc16b;
                        }
                        .fa-times{
                           color: #EB5A5B; 
                        }
                    }
                }
                .choose-mobile-name{
                    h2{
                    text-align: left;
                    color: #6cc16b;
                    font-size: 20px;
                    padding-top: 20px;
                    padding-bottom: 10px;
                    font-family: 'Lato', sans-serif;
                    }
                }
            }
        }
    }
}
