.contact-page{
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f6f3;
    .contact-title{
        h1{
            text-align: center;
        }
    }
}
.contact{
    padding-bottom: 100px;
    
    .contact-info{
        height: 256px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.13);
        border-radius: 5px;
        background-color: #fff;
        margin-top: -3rem;
        &::before{
            content: "";
            width: 150px;
            height: 64px;
            background-image: url(../image/contact1.png);
            position: absolute;
            top: -30px;
            background-size: cover;
            left: 41%;
        }
        .contact-row{
            width: 100%;
        .contact-link{
            width: 304px;
            height: 100px;
            border: 1px solid rgba(122,122,122,0.25);
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
            .contact-icons{
                color: #8bc34a;
                font-size: 25px;
            }
            .contact-item{
                font-family: "opensans";
                font-size: 18px;
                font-weight: 600;
                line-height: 1.6em;
                color: rgba(0,21,36,0.89);
            }
        }
        }
    }
}
.questions{
    .questions-title{
        h2{
            font-family: 'Merriweather',serif;
            line-height: 1;
            color: #000000;
            font-size: 24px;
            text-align: center;
        }
    }
    .questions-image{
        display: flex;
        justify-content: center;
        padding: 7px 0 35px 0;
    }
    .questions-content{
        margin-bottom: 80px;
        .question-inner{
            border-bottom: 1px solid #f7e9d4;
            margin-bottom: 20px;
            .question-body{
                padding: 1rem 2rem;
                border: none;
            }
            .question-btn{
                display: flex;
                justify-content: space-between;
                align-items: center;
                i{
                    margin-right: 25px;
                }
            .btn{
                width: 430px;
                text-align: left !important;
                padding: 30px 30px 21px 30px;
                color: #001524;
                font-size: 16px;
                font-weight: bold;
                font-family: "opensans";
                line-height: 1;
                &:focus{
                    box-shadow: none;
                }
            }
        }
        }
    }
}
@media screen and (max-width:576px){
    .title{
        h1{
            font-size: 40px !important;
        }
    }
    .contact-page{
        height: 200px;
    }
    .contact{
        padding-bottom: 40px;
        
        .contact-info{
            height: 100%;
           padding: 50px 0;
           &::before{
            left:30%;
           }
            .contact-row{
            .contact-link{
                width: 100%;
                margin-bottom: 20px;
            }
            }
        }
    }
    .questions{
        .questions-title{
            h2{
                font-size: 20px;
            }
        }
        .questions-content{
            margin-bottom: 50px;
            .question-inner{
                margin-bottom: 0;
                .question-body{
                    padding: 0 20px;
                }
                .btn{
                    width: 100%;
                    text-align: left !important;
                    padding: 20px;
                    color: #001524;
                    font-size: 16px;
                    font-weight: bold;
                    font-family: "opensans";
                    line-height: 1;
                    &:focus{
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .title{
        h1{
            font-size: 40px !important;
        }
    }
    .contact-page{
        height: 200px;
    }
    .contact{
        padding-bottom: 40px;
        
        .contact-info{
            height: 100%;
           padding: 40px 0;
           &::before{
            left:38%;
           }
            .contact-row{
            .contact-link{
                width: 100%;
                margin: 7px auto;
                .contact-item{
                    font-size: 16px;
                }
            }
            }
        }
    }
    .questions{
        .questions-title{
            h2{
                font-size: 20px;
            }
        }
        .questions-image{
            padding: 7px 0 20px 0;
        }
        .questions-content{
            margin-bottom: 50px;
            .question-inner{
                margin-bottom: 0;
                .question-body{
                    padding: 0 20px;
                }
                .btn{
                    width: 100%;
                    text-align: left !important;
                    padding: 20px;
                    color: #001524;
                    font-size: 16px;
                    font-weight: bold;
                    font-family: "opensans";
                    line-height: 1;
                    &:focus{
                        box-shadow: none;
                    }
                }
            }
        }
    }
}