body{
    position: relative;
}
.whatsapp{
    position: relative;
    button{
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        box-shadow: none;
        padding: 10px;
        background-color: rgb(79, 206, 93);
        border-radius: 50%;
        width: 65px;
        height: 65px;
        z-index: 9999;
        &:focus{
            box-shadow: none;
        }
       i{
        font-size: 40px;
        color: #fff;
      
       }
       span{
           position: relative;
           &::before{
               content: '';
               width: 10px;
               height: 10px;    
               border-radius: 50%;
               background-color: red;
               position: absolute;
               top: -25px;

           }
       }
    }
}
.private-basket{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 50px;
    height: 50px;
    button{
        display: flex;
        justify-content: center;
        width: 55px;
        height: 60px;
        border-radius: 14px;
        box-shadow: 0 1px 4px 0;
        z-index: 9999;
        background-color: #fff;
        &:focus{
            box-shadow:  0 1px 4px 0;
        }
    }
}

    
    .whatsapp-modal{
        .modal-dialog{
            position: fixed;
            bottom: 3.5rem;
            .modal-content{
                width: 360px;
                left: 1rem;
                .modal-header{
                    background-color: rgb(9, 94, 84);
                    color: #fff;
                    display: flex;
                    align-items: center;
                    border-top-left-radius:0;
                    border-top-right-radius:0;
                    padding: 24px 20px;
                    .modal-image{
                        width: 52px;
                            height: 52px;
                            border: 1px solid rgba(0,0,0,0.1);
                            border-radius: 50%;
                            margin-right: 10px;
                            position: relative;
                            &::before{
                                content: '';
                                width: 8px;
                                height: 8px;
                                background-color: #4ad504;
                                position: absolute;
                                bottom: 2px;
                                right: 0;
                                border-radius: 50%;
                            }
                    }
                    .modal-title{
                        width: 230px;
                        h1{
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 20px;
                        }
                        p{
                            font-size: 13px;
                            line-height: 18px;
                            margin-top: 4px;
                        }
                    }
                    button{
                        outline: 0;
                        span{
                        position: absolute;
                        top: 1rem;
                        right: 1rem;
                        font-size: 17px;
                        color: #fff;
                        outline: 0;
                        }
                    }
                }
                .modal-body{
                    
                    // opacity: 0.08;
                    height: 162px;
                    background-color: rgb(230, 221, 212);
                    position: relative;
                    &::before{
                        content: "";
                        background-image: url(../image/whatsapp.webp);
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        opacity: 0.08;
                    }
                    .message{
                        background-color: #fff;
                        opacity: 1;
                        width: 210px;
                        padding: 10px;
                        box-shadow: 0 1px 0.5px rgba(0,0,0,0.13);
                        border-radius: 0 8px 8px 8px;
                        position: relative;
                        margin-left: 10px;
                        &::before{
                            content: "";
                            border-top: 20px solid #fff; 
                            border-left: 20px solid transparent;
                            position:absolute;
                            left: -18px;
                            top: 0;
                            border-top-left-radius: 5px;
                        }
                        h1{
                            font-size: 13px;
                            font-weight: 700;
                            line-height: 18px;
                            color: rgba(0,0,0,0.4);
                        }
                        p{
                            font-size: 16px;
                            line-height: 19px;
                            margin-top: 4px;
                            color: #111;
                            margin: 0;
                        }
                        .wpp-text{
                            margin-bottom: 20px;
                        }
                        span{
                            display: flex;
                            justify-content: flex-end;
                            font-size: 12px;
                            line-height: 16px;
                            color: rgba(17,17,17,0.5)
                        }
                    }
                }
                .modal-footer{
                    a{
                        width: 100%;
                    text-align: center;
                    background-color: rgb(79, 206, 93);
                    border-radius: 18px;
                    color: #fff;
                    padding: 5px 0;
                    font-size: 18px;
                    font-weight: 600;
                    i{
                        font-weight: 100;
                    }
                    }
                }
            }
        }
    }

.about-recipes{
    background-image: url(../image/banner.jpg);
    height: 560px;
    background-repeat: no-repeat;
    background-size: 100%;
    .about-recipes-row{
        justify-content: flex-end;
        .about-recipes-text{
            height: 560px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1{
                color: #001524;
                font-family: "Merriweather", Sans-serif;
                line-height: 1.1em;
                font-size: 52px;
            }
            p{
                font-size: 18px;
                font-family: "opensans";
                font-weight: bold;
                margin: 10px 0 32px 0;
            }
            a{
                background-color: #8BC34A;
                width: 356px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 60px;
                box-shadow: 0px 4px 20px 0px #8BC34A;
                font-size: 15px;
                color: #FFFFFF;
                font-weight: 600;
                font-family: "opensans";
                &:hover{
                    background-color: #00C44E;
                }
                i{
                    margin-right: 15px;
                    font-size: 15px;
                }
            }
        }
    }
}
.advantage{
    padding: 70px 0;
    background-color: #001524;
    .advantage-link{
        display: flex;
        padding: 20px;
        background-color: #1c2f3c;
        height: 100%;
        .advantage-icon{
            margin-right: 15px;
            a{
                font-size: 23px;
                color: #8bc34a;
            }
        }
        .advantage-text{
            h2{
                font-family: 'Merriweather',serif;
                color: #f8f6f3;
                font-size: 19px;
                font-weight: 700;
            }
            p{
                color: rgba(248,246,243,0.91);
                font-family: "opensans";
                font-size: 16px;
            }
        }
    }
}

.about-recipes-2{
    background-image: url(../image/banner2.jpg);
    height: 672px;
    background-repeat: no-repeat;
    background-size: 102%;
    .about-recipes-2-row{
        justify-content: flex-end;
        .about-recipes-2-text{
            height: 560px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1{
                color: #001524;
                font-family: "Merriweather", Sans-serif;
                line-height: 1.1em;
                font-size: 34px;
                padding: 60px 0 0 20px;
                font-weight: bold;
            }
            p{
                font-size: 17px;
                font-family: "opensans";
                font-weight: bold;
                margin: 10px 0 32px 0;
                text-align: center;
                padding-right: 20px;
            }
            a{
                background-color: #8BC34A;
                width: 260px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 60px;
                box-shadow: 0px 4px 20px 0px #8BC34A;
                font-size: 15px;
                color: #FFFFFF;
                font-weight: 600;
                font-family: "opensans";
                margin: 10px auto;
                &:hover{
                    background-color: #00C44E;
                }
                i{
                    margin-right: 15px;
                    font-size: 15px;
                }
            }
        }
    }
}
.about-recipes-3{
    background-image: url(../image/banner3.jpg);
    height: 672px;
    background-repeat: no-repeat;
    background-size: 102%;
    .about-recipes-3-row{
        justify-content: flex-start;
        .about-recipes-3-text{
            height: 560px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1{
                color: #001524;
                font-family: "Merriweather", Sans-serif;
                line-height: 1.1em;
                font-size: 34px;
                padding-top: 60px;
                font-weight: bold;
                text-align: center;
            }
            p{
                font-size: 17px;
                font-family: "opensans";
                font-weight: bold;
                margin: 10px 0 32px 0;
                text-align: center;
            }
            a{
                background-color: #8BC34A;
                width: 260px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 60px;
                box-shadow: 0px 4px 20px 0px #8BC34A;
                font-size: 15px;
                color: #FFFFFF;
                font-weight: 600;
                font-family: "opensans";
                margin: 10px auto;
                &:hover{
                    background-color: #00C44E;
                }
                i{
                    margin-right: 15px;
                    font-size: 15px;
                }
            }
        }
    }
}
.about-recipes-4{
    background-image: url(../image/banner4.jpg);
    height: 672px;
    background-repeat: no-repeat;
    background-size: 102%;
    .about-recipes-4-row{
        justify-content: flex-end;
        .about-recipes-4-text{
            height: 560px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1{
                color: #001524;
                font-family: "Merriweather", Sans-serif;
                line-height: 1.1em;
                font-size: 34px;
                padding-top: 60px;
                font-weight: bold;
                text-align: center;
            }
            p{
                font-size: 17px;
                font-family: "opensans";
                font-weight: bold;
                margin: 10px 0 32px 0;
                text-align: center;
                padding: 0 20px;
            }
            a{
                background-color: #8BC34A;
                width: 260px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 60px;
                box-shadow: 0px 4px 20px 0px #8BC34A;
                font-size: 15px;
                color: #FFFFFF;
                font-weight: 600;
                font-family: "opensans";
                margin: 10px auto;
                &:hover{
                    background-color: #00C44E;
                }
                i{
                    margin-right: 15px;
                    font-size: 15px;
                }
            }
        }
    }
}
.review{ 
    position: relative;
    background-color: #F8F6F3;
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        background-image: url(../image/bg.png);
        background-repeat: no-repeat;
        background-size: 34%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .1;
    }
    .review-logo-image{
        display: flex;
        justify-content: center;
        img{
            width: 288px;
            margin-top: 50px;
        }
    }
    .review-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-family: 'Merriweather',serif;
            line-height: 1;
            font-size: 34px;
            font-weight: bold;
            margin-bottom: 15px;
        }
        img{
            padding-bottom: 40px;
        }
    }
    .review-slider-title{
        display: flex;
        justify-content: center;
        h2{
            font-size: 24px;
            padding: 24px 10px;
        }
    }
    .review-slider{
        height: 430px;
        .slick-prev{
            background-image: url(../image/prev.jpg);
            width: 30px;
            left: -47px;
        }
        .slick-next{
            background-image: url(../image/next.jpg);
            width: 30px;
    
        }
        .slick-dots{
            bottom: 50px;
         
            li{
                button{
                    &::before{
                        font-size: 30px;
                    }
                }
            }
            .slick-active{
                button{
                    &::before{
                        font-size: 46px !important;
                    }
                }
            }
        }
        .review-slide{
            .review-title{
                display: flex;
                align-items: center;
                img{
                    width: 48px;
                    border-radius: 50%;
                }
                .review-name{
                    margin-left: 20px;
                    h1{
                        font-size: 15px;
                        margin: 0;
                        i{
                            width: 20px;
                            height: 20px;
                            background-color: #627AAE;
                            text-align: center;
                            font-size: 13px;
                            padding-top: 3px;
                            color: #fff;
                            border-radius: 50%;
                        }
                    }
                    p{
                        font-size: 13px;
                        margin: 0;
                    }
                }
              
            }
            .rating{
                margin-bottom: 10px;
                i{
                    color: rgb(255, 221, 57);
                    font-size: 14px;
                }
            }
            .review-comment{
                width: 90%;
            }
            .review-logo{
                display: flex;
                justify-content: center;
                margin: 10px 0;
            }
        }
    }
    .company-icons{
        display: flex;
        justify-content: center;
        padding-bottom: 80px;
        .company-icons-image{
        img{
            width: 90%;
            height: 100%;
            padding: 10px 30px 10px 30px;
            filter: grayscale(1);
            &:hover{
            filter: grayscale(0);
            }
        }
    }
    }
}


@media screen and (max-width:576px){
    .about-recipes{
        background-size: auto;
      .about-recipes-row{
            .about-recipes-text{
                height: 500px;
                justify-content: flex-end;
                h1{
                    font-size: 22px;
                }
                p{
                    font-size: 13px;
                    margin: 10px 0;
                }
                a{
                    width: 70%;
                    font-size: 12px;
                    i{
                        margin-right: 15px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .advantage{
        padding: 20px 0;
        .advantage-link{
            margin-bottom: 20px;
            height: 160px;
            .advantage-icon{
                margin-right: 15px;
            }
        }
    }
    .about-recipes-2{
        height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 87%;
        .about-recipes-2-row{
            justify-content: flex-end;
            align-items: flex-start;
            .about-recipes-2-text{
                height: 300px;
                padding-right: 10px;
                h1{
                    font-size: 20px;
                    padding: 0;
                    text-align: center;
                }
                p{
                    font-size: 15px;
                    margin: 10px 0;
                    padding: 0;
                }
                a{
                    width: 86%;
                    font-size: 12px;
                    i{
                        margin-right: 10px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .about-recipes-3{
        height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 25%;
        .about-recipes-3-row{
            justify-content: flex-start;
            .about-recipes-3-text{
                height: 300px;
                padding-left: 10px;
                h1{
                    font-size: 22px;
                }
                p{
                    font-size: 13px;
                    margin: 5px 0;
                }
                a{
                    width: 86%;
                    font-size: 13px;
                    i{
                        margin-right: 15px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .about-recipes-4{
        height: 310px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: 82%;    
        .about-recipes-4-row{
            .about-recipes-4-text{
                height: 300px;
                h1{
                    font-size: 21px;
                    padding-top: 10px;
                }
                p{
                    font-size: 13px;
                    padding: 0;
                    margin: 0;
                }
                a{
                    width: 92%;
                    font-size: 13px;
                }
            }
        }
    }
    .review{ 
        .review-logo-image{
            img{
                width: 200px;
                margin-top: 20px;
            }
        }
        .review-top{
            h1{
                font-size: 22px;
            }
            img{
                padding-bottom: 10px;
            }
        }
        .review-slider-title{
            h2{
                padding: 10px;
                font-size: 20px;
            }
        }
        .review-slider{
            height: 430px;
            .slick-prev{
                display: none !important;
            }
            .slick-next{
                display: none !important;
        
            }
            .review-slide{
                .review-comment{
                    width: 100%;
                }
            }
        }
        .company-icons{
            padding-bottom: 30px;
            .company-icons-image{
            img{
                width: 100%;
                height: 100%;
                padding: 10px 15px;
            }
        }
        }
    }
}
@media screen and (min-width:768px) and (max-width:1024px){
    .about-recipes{
        background-position-x: 12%;
    background-size: 130%;
    height: 415px;
        .about-recipes-row{
              .about-recipes-text{
                height: 415px;
                  h1{
                    font-size: 45px;
                  }
                  p{
                      font-size: 18px;
                  }
                  a{
                    width: 87%;
                  }
              }
          }
      }
      .advantage{
        padding: 20px 0;
        .advantage-link{
            margin-bottom: 20px;
            height: 150px;
            .advantage-icon{
                margin-right: 15px;
            }
        }
    }
    .about-recipes-2{
        height: 382px;
        background-repeat: no-repeat;
        background-size: 102%;
        background-position-x: 92%;
        .about-recipes-2-row{
            .about-recipes-2-text{
                padding-left: 93px;
                height: 382px;
                h1{
                    font-size: 30px;
                }
                p{
                    font-size: 18px;
                    padding: 0;
                }
                a{
                    width: 70%;
                }
            }
        }
    }
    .about-recipes-3{
        height: 382px;
        .about-recipes-3-row{
            justify-content: flex-start;
            .about-recipes-3-text{
                height: 382px;
                padding-right: 70px;
                h1{
                    font-size: 30px;
                }
                p{
                    font-size: 18px;
                }
                a{
                    width: 56%;
                }
            }
        }
    }
    .about-recipes-4{
        height: 382px;   
        .about-recipes-4-row{
            .about-recipes-4-text{
                height: 382px;
                margin-right: -39px;
                margin-left: 28px;
                h1{
                    font-size: 27px;
                    padding-top: 10px;                
                }
                p{
                    font-size: 18px;
                    margin-bottom: 10px;
                }
                a{
                    width: 60%;
                }
            }
        }
    }
    .review{ 
        .review-logo-image{
            img{
                margin-top: 20px;
            }
        }

        .review-slider{
            height: 370px;
            .slick-prev{
                display: none !important;
            }
            .slick-next{
                display: none !important;
        
            }
            .review-slide{
                .review-comment{
                    width: 100%;
                }
            }
        }
    }
}