.slick-slide{
    &:focus{
        outline: none;
    }
}
.original{
    background: #f9f9f9;
    padding: 40px;
    .original-slider{
        font-family: "lato";
        
        .slick-prev{
            background-color: transparent;
           background-image: url(../image/arrow1.png);
           background-repeat: no-repeat;
           background-position-y: center;
           background-position-x: center;
           background-size: 100%;
           width: 50px;
           height: 50px;
           z-index: 1;
           left: 0.2rem;
        }
        .slick-next{
            background-color: transparent;
            background-image: url(../image/arrow2.png);
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: center;
            background-size: 100%;
            width: 50px;
            height: 50px;
            z-index: 1;
            right:0.2rem;
        }
        .original-slide{
            box-shadow: 0 4px 10px 0 hsla(0,0%,82.7%,.5);
            margin-bottom: 40px;
            .menu-slide-image{
                position: relative;
                img{
                    width: 100%;
                }
                .menu-hashtags{
                    position: absolute;
                    bottom: 1rem;
                    left: 2rem;
                span{
                    background-color: #888;
                    border-radius: 4px;
                    opacity: .8;
                    color: #fff;
                    padding: 3px 8px;
                    font-size: 12px;
                    line-height: 24px;
                }                     
            }
            }
            .menu-content{
                background-color: #fff;
                .time-cook{
                    background-image: url(../image/calendar.jpg);
                    background-repeat: no-repeat; 
                    position: relative;    
                    height: 80px; 
                      margin: 20px 37px 30px 35px;   
                      width: 150px;  
                    p{
                        font-size: 9px;
                        position: absolute;
                        top: 23px;
                        left: 15px;
                        color: #333333;
                        font-family: "lato";
                    }
                    h1{
                        width: 70px;
                        text-align: center;
                        position: absolute;
                        top: 34px;
                        left: 5px;
                        margin: 0;
                        font-size: 17px;
                        font-family: "lato-black";
                    }
                }
                
                .dish-title{
                    padding-right: 80px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .time-cook-mob{
                        display: none;
                    }
                    h1{
                        font-size: 20px;
                        line-height: 24px;
                        font-weight: 400;
                        font-family: "avenir";
                        margin-bottom: 11px;
                        font-family: "lato";
                    }
                }
                .dish-info{
                    display: flex;
                    .dish-icons{
                        width: 47%;
                        display: flex;
                    .dish-icon{
                       margin-right: 25px;
                    p{
                        display: flex;
                        align-items: center;
                        color: #333333;
                        font-size: 12px;
                        font-family: "lato";
                        img{
                            width: 20px;
                            height: 20px;
                            margin-right: 10px;
                        }
                    }
                }
                .dish-time{
                   p{
                       font-weight: bold;
                   }
                }
            }
            .dish-icon{
             p{
                 display: flex;
                 align-items: center;
                 color: #333333;
                 font-size: 12px;
                 font-family: "lato";
             }
            }
                }
            }
        }
    }
    .menu-buttons{
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        a{
            width: 220px;
            height: 50px;
            margin-right: 20px;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 51px;
            border-radius: 44px;
            outline: none;
            text-decoration: none;
            text-align: center;
        }
        .watch{
            color: #fff;
            background: #59b958;
            &:hover{
                background: #8bce8a;
            }
        }
        .compare{
            background: transparent;
            border: 1px solid #59b958;
            color: #333;
            &:hover{
                background: #def1de;
            }
        }
    }
}

.menu-tabs{
        .nav-pills{
            display: flex;
            justify-content: center;
            align-items: center;
            .nav-item{
                display: flex;
                .nav-link{
                    font-size: 19px;
                    color: #333;
                    border-radius: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p{
                     padding: 5px 8px;
                        background-color: #59b958;
                        margin: 0;
                        font-size: 11px;
                        color: #fff;
                        text-align: center;
                        font-family: "lato";
                        border-radius: 28px;
                        margin-left: 5px;
                    }
                }
                .nav-link.active{
                    background-color: transparent;
                    border-bottom: 2px solid #59b958;
                }
            }
        }
    }

.menu-page{
    padding-top: 24px;
}
.slider-nav{
    .slick-prev{
        background-image: url(../image/menu-prev.svg);
        z-index: 1;
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
    }
    .slick-next{
        background-image: url(../image/menu-next.svg);
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        z-index: 1;
    }
    .menu-slide{
        padding-top: 24px;
    padding-bottom: 9px;
    &:focus{
        outline: none;
    }
        h1{
            font-size: 36px;
            line-height: 42px;
            text-align: center;
            font-weight: 900;
            font-family: 'lato';
        }
        p{
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            padding: 16px 0;
        }
    }
}


@media screen and (max-width:576px){
    .slider-nav{
        .slick-prev{
            width: 24px;
            height: 24px;
            z-index: 1;
            left: -7px;
            background-size: cover;
        }
        .slick-next{
            width: 24px;
            height: 24px;
            right: -7px;
        }
        .menu-slide{
            padding-top: 24px;
        padding-bottom: 9px;
            h1{
                font-size: 20px;
                line-height: 2px;
            }
            p{
                font-size: 12px;
                line-height: 24px;
            }
        }
    }
    .menu-tabs {
        .nav-pills{
            flex-wrap: nowrap;
            overflow-x: scroll;
            padding-left: 196px;
            .minutes{
                width: 118px;
            }
        }
    }
    .original{
        padding: 40px 10px;
        .original-slider{
            .original-slide{
                .menu-slide-image{
                    img{
                        width: 330px;
                        height: 186px;
                    }
                    .menu-hashtags{
                        left: 1rem;                    
                }
                }
                .menu-content{
                    .time-cook{
                        display: none;
                    }
                    
                    .dish-title{
                        padding-right: 0;
                        padding: 1rem;
                        height: 250px;
                        .time-cook-mob{
                            display: block;
                        }
                        h1{
                            font-size: 20px;
                            line-height: 24px;
                            font-weight: 400;
                            font-family: "avenir";
                            margin-bottom: 11px;
                            font-family: "lato";
                        }
                    }
                    .dish-info{
                        display: flex;
                        flex-direction: column;
                        .dish-icons{
                            width: 100%;
                            justify-content: space-between;
                            .dish-icon{
                                margin-right: 0;
                             p{
                                 display: flex;
                                 align-items: center;
                                 color: #333333;
                                 font-size: 12px;
                                 font-family: "lato";
                                 img{
                                     width: 20px;
                                     height: 20px;
                                     margin-right: 10px;
                                 }
                             }
                         }
                         .dish-time{
                            p{
                                font-weight: bold;
                            }
                         }
                        }
                    }
                }
            }
        }
        .menu-buttons{
            flex-direction: column;
            align-items: center;
            a{
                margin-right: 0;
                margin-bottom: 15px;
            }
            .watch{
                color: #fff;
                background: #59b958;
                &:hover{
                    background: #8bce8a;
                }
            }
            .compare{
                background: transparent;
                border: 1px solid #59b958;
                color: #333;
                &:hover{
                    background: #def1de;
                }
            }
        }
    }
}


@media screen and (min-width:768px) and (max-width:1024px){
    .original{
        .original-slider{
            .slick-next{
                right: 0.2rem;
            }
            .slick-prev{
                left: 0.2rem;
            }
            .original-slide{
                .menu-content{  
                    .dish-title{
                        padding-right: 0;
                        padding-left: 47px;
                        height: 180px;
                        h1{
                            font-size: 20px;
                            line-height: 24px;
                            font-weight: 400;
                            font-family: "avenir";
                            margin-bottom: 11px;
                            font-family: "lato";
                        }
                    }
                    .dish-info{
                        display: flex;
                        flex-direction: column;
                       .dish-icons{
                           width: 100%;
                        .dish-icon{
                            margin-right: 25px;
                         p{
                             display: flex;
                             align-items: center;
                             color: #333333;
                             font-size: 12px;
                             font-family: "lato";
                             img{
                                 width: 20px;
                                 height: 20px;
                                 margin-right: 10px;
                             }
                         }
                     }
                     .dish-time{
                        p{
                            font-weight: bold;
                        }
                     }
                       }
                    }
                }
            }
        }
        .menu-buttons{
            a{
                margin-right: 10px;
                
            }
            .watch{
                color: #fff;
                background: #59b958;
                &:hover{
                    background: #8bce8a;
                }
            }
            .compare{
                background: transparent;
                border: 1px solid #59b958;
                color: #333;
                &:hover{
                    background: #def1de;
                }
            }
        }
    }
}