.menu-inner{

    .menu-inner-tabs{
        .dishes-nav-pills{
            display: flex;
            justify-content: center;
            .nav-item{
                display: flex;
                align-items: center;
                margin: 0 17px;
                .choose-link{
                    color: #59b958;
                    font-family: 'lato';
                    font-size: 19px;
                }
                .nav-link{
                    color: #333;
                    font-family: 'lato';
                    font-size: 19px;
                   
                }
                .active{
                    border-bottom: 2px solid #59b958;
                    background-color: transparent;
                    border-radius: 0;
                }
            }
        }
        .menu-tabs-bottom{

            .tabs-right{
                display: flex;
                justify-content: space-around;
                align-items: center;
                .total-price{
                    font-size: 20px;
                    font-family: 'lato';
                }
                .expand-icon{
                    position: relative;
                    img{
                    width: 30px;
                    height: 30px; 
                    }   
                    .expand-wrapper-active{
                        display: block !important;
                    }
                    .expand-wrapper{
                        display: none;
                        position: absolute;
                        box-shadow: 0 4px 10px 0 hsla(0,0%,64.7%,.5);
                        top: 51px;
                        z-index: 9;
                        background-color: #fff;
                        width: 300px;
                        padding: 20px;
                        &::before{
                            content: '';
                            border-left: 9px solid transparent;
                            border-right: 9px solid transparent;
                            border-bottom: 9px solid #fff;
                            position: absolute;
                            top: -9px;
                            left: 10px;
                        }
                        p{
                            font-size: 14px;
                            color: #333;
                            font-family: 'lato';
                        }
                        .priceInfo{
                            display: flex;
                            justify-content: space-between;
                            padding: 10px 0;
                            span{
                                color: #c7c7c7;
                                font-size: 14px;
                                line-height: 14px;
                                font-family: 'lato';
                            }
                        }
                        .scissors{
                            display: flex;
                            justify-content: space-between;
                            span{
                                color: #c7c7c7;
                                font-size: 14px;
                                line-height: 14px;
                                font-family: 'lato';
                            }
                            .delete-scissors{
                                width: 35px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                .close-panel{
                                    background-image: url(../image/close.svg);
                                    width: 10px;
                                    height: 10px;
                                    display: block;
                                    opacity: .3;
                                }
                            }
                        }
                            .priceInfo-total{
                                display: flex;
                            justify-content: space-between;
                            padding: 10px 0;
                            span{
                                color: #59b958;
                                font-size: 14px;
                                line-height: 14px;
                                font-family: 'lato';
                            } 
                            }
                        
                    }            
                }
                .dish-button{
                    button{
                    background: transparent;
                    border: 1px solid #59b958;
                    padding: 0 2.5rem;
                    border-radius: 44px;
                    span{
                    font-size: 12px;
                    color: #333;
                    line-height: 51px;
                    }
                    }
                }
                .button-loader{
                    display: flex;
                    align-items: center;
                    a{
                        background: #59b958;
                        padding: 1rem 2.5rem;
                        border-radius: 44px;
                        color: #fff;
                        font-size: 12px;
                        font-family: 'lato';
                    }
                }
            }
            .tabs-left{
                .select2-container--default {
                    .select2-results__option--highlighted{
                        background-color: #59b958 !important;
                    }
                    .select2-selection--single{
                    border: 1px solid #dadada;
                    border-radius: 25px;
                    padding: 0 1rem;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    &:focus{
                        outline: none;
                    }
                    .select2-selection__arrow{
                        top: 12px;
                        right: 9px;
                        b{
                            border: none;
                            &::before{
                                content: '\f078';
                                font-family: 'Font Awesome 5 Free';
                                font-weight: 900;
                                position: absolute;
                                top: -6px;
                                right: -6px;
                                font-size: 13px;
                                color: #59b958;
                            }
                        }
                    }
                    }
                }
                select{
                    
                    min-height: 0;
                    padding-top: 0;
                    height: 100%;
                    padding-left: 1.3rem;
                    background: transparent;
                    padding-right: 26px;
                    position: relative;
                }
            }
        }
        .menu-tabs-mobile{
            display: none;
            .tabs-right{
                display: flex;
                justify-content: space-around;
                align-items: center;
                .total-price{
                    font-size: 20px;
                    font-family: 'lato';
                }
                .expand-icon{
                    position: relative;
                    img{
                    width: 30px;
                    height: 30px; 
                    }   
                    .expand-wrapper-active{
                        display: block !important;
                    }
                    .expand-wrapper{
                        display: none;
                        position: absolute;
                        box-shadow: 0 4px 10px 0 hsla(0,0%,64.7%,.5);
                        top: 51px;
                        z-index: 9;
                        background-color: #fff;
                        width: 300px;
                        padding: 20px;
                        &::before{
                            content: '';
                            border-left: 9px solid transparent;
                            border-right: 9px solid transparent;
                            border-bottom: 9px solid #fff;
                            position: absolute;
                            top: -9px;
                            left: 10px;
                        }
                        p{
                            font-size: 14px;
                            color: #333;
                            font-family: 'lato';
                        }
                        .priceInfo{
                            display: flex;
                            justify-content: space-between;
                            padding: 10px 0;
                            span{
                                color: #c7c7c7;
                                font-size: 14px;
                                line-height: 14px;
                                font-family: 'lato';
                            }
                        }
                        .scissors{
                            display: flex;
                            justify-content: space-between;
                            span{
                                color: #c7c7c7;
                                font-size: 14px;
                                line-height: 14px;
                                font-family: 'lato';
                            }
                            .delete-scissors{
                                width: 35px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                .close-panel{
                                    background-image: url(../image/close.svg);
                                    width: 10px;
                                    height: 10px;
                                    display: block;
                                    opacity: .3;
                                }
                            }
                        }
                            .priceInfo-total{
                                display: flex;
                            justify-content: space-between;
                            padding: 10px 0;
                            span{
                                color: #59b958;
                                font-size: 14px;
                                line-height: 14px;
                                font-family: 'lato';
                            } 
                            }
                        
                    }            
                }
                .dish-button{
                    button{
                    background: transparent;
                    border: 1px solid #59b958;
                    padding: 0 2.5rem;
                    border-radius: 44px;
                    span{
                    font-size: 12px;
                    color: #333;
                    line-height: 51px;
                    }
                    }
                }
                .button-loader{
                    display: flex;
                    align-items: center;
                    a{
                        background: #59b958;
                        padding: 1rem 2.5rem;
                        border-radius: 44px;
                        color: #fff;
                        font-size: 12px;
                        font-family: 'lato';
                    }
                }
            }
            .tabs-left{
                display: flex;
                justify-content: space-around;
                .select2-container--default {
                    width: 157.797px !important;
                    .select2-results__option--highlighted{
                        background-color: #59b958 !important;
                    }
                    .select2-selection--single{
                        background-color: transparent;
                    border: 1px solid #dadada;
                    border-radius: 25px;
                    padding: 0 1rem;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    &:focus{
                        outline: none;
                    }
                    .select2-selection__arrow{
                        top: 12px;
                        right: 9px;
                        b{
                            border: none;
                            &::before{
                                content: '\f078';
                                font-family: 'Font Awesome 5 Free';
                                font-weight: 900;
                                position: absolute;
                                top: -6px;
                                right: -6px;
                                font-size: 13px;
                                color: #59b958;
                            }
                        }
                    }
                    }
                }
                select{
                    
                    min-height: 0;
                    padding-top: 0;
                    height: 100%;
                    padding-left: 1.3rem;
                    background: transparent;
                    padding-right: 26px;
                    position: relative;
                }
            }
            .btn{
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
            }
            .card{
                padding: 1rem 0;
                border: none !important;
                background-color: transparent;
            }
            .expand-wrapper{
                p{
                    font-size: 14px;
                    color: #333;
                    font-family: 'lato';
                }
                .priceInfo{
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 0;
                    span{
                        color: #c7c7c7;
                        font-size: 14px;
                        line-height: 14px;
                        font-family: 'lato';
                    }
                }
                .scissors{
                    display: flex;
                    justify-content: space-between;
                    span{
                        color: #c7c7c7;
                        font-size: 14px;
                        line-height: 14px;
                        font-family: 'lato';
                    }
                    .delete-scissors{
                        width: 35px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .close-panel{
                            background-image: url(../image/close.svg);
                            width: 10px;
                            height: 10px;
                            display: block;
                            opacity: .3;
                        }
                    }
                }
                    .priceInfo-total{
                        display: flex;
                    justify-content: space-between;
                    padding: 10px 0;
                    span{
                        color: #59b958;
                        font-size: 14px;
                        line-height: 14px;
                        font-family: 'lato';
                    } 
                    }
                
            } 
        }
    }
    .tab-content{
        
        .dishes-list{
           .container-tabs{
               max-width: 1260px;
               padding-top: 24px;
               padding-bottom: 50px;
           }
            .item-wrapper{
                box-shadow: 0 4px 10px 0 hsla(0,0%,82.7%,.5);
                margin: 16px;
                .dishes-image{
                    position: relative;
                    img{
                        width: 100%;
                    }
                    .menu-hashtags{
                        left: 0.8rem;
                        position: absolute;
                        bottom: 0.8rem;
                        span{
                            background-color: #888;
                            border-radius: 4px;
                            opacity: .8;
                            color: #fff;
                            padding: 3px 8px;
                            font-size: 12px;
                            line-height: 24px;
                        }
                    }
                }
                .about-dishes{
                    width: 100%;
                    height: 205px;
                    padding: 19px 8px 22px 8px;
                    background-color: #fff;
                    .dishes-title{
                        padding: 8px 24px;
                        h1{
                        font-size: 18px;
                        line-height: 24px;
                        }
                    }
                    .dishes-date{
                        padding: 0 24px;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        margin-bottom: 17px;
                        span{
                            font-size: 12px;
                            font-family: 'lato';
                            color: #333;
                        }
                    }
                    .dishes-icon{
                        display: flex;
                        padding: 0 24px;
                        justify-content: space-between;
                        .dish-icon{
                            // margin-right: 10px;
                            p{
                                font-size: 10px;
                                img{
                                    width: 22px;
                                    height: 20px;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}

.select2-container--default {
    .select2-results__option--highlighted{
        background-color: #59b958 !important;
    }
}
.select2-results__option{
    font-family: 'lato';
    font-size: 12px;
    padding: 10px 20px;
}


@media screen and (max-width:576px){
    .menu-inner-container{
        padding: 0;
    }
    .menu-inner {
        background-color: #f9f9f9;
        .slider-nav{
            background-color: #fff;
            .slick-prev{
                left: 7px;
            }
            .slick-next{
                right: 7px;
            }
        }
        .menu-inner-tabs {
            .dishes-nav-pills{
                background-color: #fff;
                flex-wrap: nowrap;
                overflow-x: scroll;
                overflow-y: hidden;
                width: 100%;
                padding-left: 381px;
                scrollbar-base-color: #fff;
                scrollbar-arrow-color: #fff;
                scrollbar-face-color: #fff;
                .choose-link{
                    width: 118px;
                }
                #pills-minutes-tab{
                    width: 118px;
                }
            }
            .menu-tabs-bottom{
                display: none;
            }
            .menu-tabs-mobile{
                display: block;
                .tabs-right{
                    .expand-icon{
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;
                    }
                    .button-loader{
                        width: 90%;
                        margin-right: 15px;
                        a{
                            width: 100%;
                            text-align: center;
                        }
                    }
                    .dish-button{
                        width: 100%;
                        button{
                            width: 100%;
                            margin-bottom: 20px;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .tab-content{
        
            .dishes-list{
                .item-wrapper{
                    .about-dishes{
                        height: 250px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .menu-inner {
        .menu-inner-tabs {
                .dishes-nav-pills{
                    background-color: #fff;
                    flex-wrap: nowrap;
                    overflow-x: scroll;
                    overflow-y: hidden;
                    width: 100%;
                    padding-left: 54px;
                    scrollbar-base-color: #fff;
                    scrollbar-arrow-color: #fff;
                    scrollbar-face-color: #fff;
                    .choose-link{
                        width: 118px;
                    }
                    #pills-minutes-tab{
                        width: 118px;
                    }
                }
            .menu-tabs-bottom {
                .tabs-left{
                    display: flex;
                }
                .tabs-right {
                    .button-loader{
                        width: 35%;
                        a{
                            padding: 1rem .5rem;
                        }
                    }
                    .dish-button{
                        button{
                            padding: 0 .5rem;
                        }
                    }
                }
            }
        }
       .tab-content{
        .dishes-list {
            .item-wrapper {
                .about-dishes{
                    height: 220px;
                }
            }
        }
       }
    }
}
