#slide-panel {
    width:300px;
    height:100vh;
    background:#fff;
    margin-right:-300px;
    position:fixed;
    top:0;
    right:0;
    z-index: 99;
  .slide-inner {
    position: relative;
    .basket-count{
      position: absolute;
      bottom: 4rem;
      left: -5.5rem;
      width: 27px;
      height: 27px;
      background-color: #cc0086;
      border-radius: 50%;
      color: #fff;
      font-size: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #opener {
        width: 55px;
        height: 60px;
        float: left;
        margin: -10px 0px 0px -73px;
        border-radius:0;
        background-color: #fff;
        box-shadow: 0 1px 4px 0;
        border-radius: 14px;
        position: absolute;
        bottom: 1rem;
        
        	display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;

          -ms-flex-align: center;
          -webkit-align-items: center;
          -webkit-box-align: center;

          align-items: center;
        justify-content:center;
        &:focus{
            outline: none;
          
        }
      }
    .trigger {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;

      -ms-flex-align: center;
      -webkit-align-items: center;
      -webkit-box-align: center;

      align-items: center;
      height:100vh;
      .modal-basket{
        height: 100%;
        width: 100%;
        position: relative;
        .modal-title {
          border-bottom: 1px solid #eee;
          padding: 15px;
          h1{
            font-size: 20px;
            color: #333333;

          }
        }
        .modal-basket-content{
          overflow-y: auto;
          overflow-x: hidden;
          padding: 15px;
          p{
            font-size:20px;
            color: #333333;
          }
        }
        .modal-basket-footer{
          position: absolute;
          bottom: 1rem;
          text-align: center;
          border-top: 1px solid #eee;
          padding: 15px;
          h2{
            font-size: 20px;
          }
          p{
            font-size: 14px;
          }
          a{
            border-radius: 60px;
            padding: 12px 42px;
            color: #ffffff;
            border-color: #8bc34a;
            background-color: #8bc34a;
          }
        }
      }

      
    }
  }
}
