.profile-page{
    padding: 40px 0;
    background-color: #f9f9f9;
    .profile-container{
        max-width: 1260px;
    }
    .profile-info-left{
        background-color: #fff;
        padding-bottom: 40px;
        .profile-list{
            padding: 2rem;
            .profile-info{
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                .profile-title{
                    h1{
                        font-size: 24px;
                        line-height: 30px;
                        color: #08050B;
                    }
                }
                .profile-edit{
                    width: 55px;
                    height: 55px;
                    background: #8BC34A;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    img{
                        margin-top: 0.3rem;
                    }
                }
            }
            a{
                font-size: 14px;
                line-height: 20px;
                color: #A3ABB6;
                margin-bottom: 10px;
            }
            p{
                font-size: 14px;
                line-height: 20px;
                color: #A3ABB6;
                margin-bottom: 10px;
            }
        }
        .profile-list-group{
            .tabs-title{
                h1{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 24px;
                    text-transform: uppercase;
                    color: #A3ABB6;
                    padding-top: 20px;
                    padding-left: 20px;
                }
            }
            .list-group-item{
                border-radius: 0;
                &:first-child{
                border-top-color: #fff !important;
                }
            }
            .list-group-item.active{
                background: #8BC34A;
                color: #fff;
                outline: none;
                border-color: #8BC34A;
            }
            .profile-group-item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 18px;
                line-height: 30px;
                color: #08050B;
                border: 1px solid #A3ABB6;
                border-right-width: 0;
                border-left-width: 0;
                i{
                transform: rotate(180deg);
                }
            }
        }
    }
    .tab-content{
        background-color: #fff;
        padding: 2rem 1.5rem;
            .order-slide{
                outline: none !important;
                .orders-item{
                    .order-image{
                        display: flex;
                        justify-content: center;
                        img{
                            width: 90%;
                            height: 190px;
                        }
                    }
                    .order-info{
                        width: 90%;
                        margin: 0 auto;
                        margin-top: 15px;
                        h1{
                            font-size: 18px;
                            line-height: 24px;
                            color: #08050B;
                        }
                    }
                    .order-cost{
                        width: 90%;
                        margin: 15px auto;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 24px;
                        color: #08050B;
                    }
                    .order-process{
                        width: 90%;
                        margin: 0 auto;
                        .process-info{
                            font-size: 14px;
                            line-height: 24px;
                            color: #A3ABB6;
                        }
                        .cansel-button{
                            text-align: right;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 24px;
                            a{
                            color: #E1233A !important;
                            }
                        }
                        .reestablish-button{
                            text-align: right;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 24px;
                            text-transform: uppercase;
                            a{
                                color: #8BC34A !important;
                            }
                        }
                    }
                }
                .orderTimeDiv{
                    width: 90%;
                    margin: 0 auto;
                    .order-time{
                        text-align: right;
                        font-size: 14px;
                        line-height: 24px;
                        color: #A3ABB6;
                    }
                    .order-date{
                        font-size: 14px;
                        line-height: 24px;
                        color: #A3ABB6;
                    }
                }
            }
            .terms{
                .terms-title{
                    h1{
                        font-size: 20px;
                        text-align: center;
                    }
                    p{
                        text-align: center;
                        font-size: 15px;
                    }
                }
                .terms-text{
                    h2{
                        font-size: 18px;
                    }
                    .sub-terms{
                        display: flex;
                        flex-direction: column;
                        padding: 0 1rem;
                        p{
                            font-size: 14px;
                            color: #333;
                        }
                    }
                }
            }
        }
        .adress-inner {
            h1{
                font-size: 20px;
                line-height: 25px;
                font-weight: 900;
            }
            .adress-item{
                .adress-text{
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    p{
                        font-size: 13px;
                        margin-bottom: 5px;
                        font-family: 'lato';
                    }
                    a{
                        font-size: 13px;
                        opacity: .5;
                        margin-bottom: 18px;
                        color: #333;
                        font-weight: 600;
                        font-family: 'lato';
                    }
                    .btn{
                        color: #333;
                        text-decoration: underline !important;
                        padding: 0;
                        text-align: left;
                        font-family: 'lato';
                        opacity: 1;
                        &:focus{
                            outline: none;
                            box-shadow: none;
                        }
                    }
                }
            }
            .adress-edit{
                display: flex;
                justify-content: flex-end;
                .btn{
                    color: #333;
                    text-decoration: underline !important;
                    padding: 0;
                    text-align: left;
                    font-family: 'lato';
                    opacity: 1;
                    font-size: 13px;
                    font-weight: 600;
                }
            }
        }
        .bank-cards{
             h1{
                font-size: 20px;
                line-height: 25px;
                font-weight: 900;
             }
                    a{
                        font-size: 13px;
                        opacity: .5;
                        margin-bottom: 18px;
                        color: #333;
                        font-weight: 600;
                        font-family: 'lato';
                        margin-top: 37px;
                    }
                    .btn{
                        color: #333;
                        text-decoration: underline !important;
                        padding: 0;
                        text-align: left;
                        font-family: 'lato';
                        opacity: 1;
                        &:focus{
                            outline: none;
                            box-shadow: none;
                        }
                    }
                    .security{
                        p{
                            font-size: 12px;
                            line-height: 20px;
                            opacity: .5;
                            color: #333;
                        }
                    }
                    .card-modal{
                        .modal-dialog{
                            max-width: 900px;
                        }
                    }
                }   
            }
.orders-slider{
    padding-bottom: 30px;
    border-bottom: 1px solid #A3ABB6;
    padding-top: 13px;
}

.orders-slider-bottom{
    padding-top: 13px;
    margin-bottom: 30px;
}

@media screen and (max-width:576px){
    .security{
        img{
            width: 100%;
        }
    }
    .profile-page{
        .adress-inner{
            .adress-edit{
                justify-content: flex-start;
            }
        }
    }
    .adress-modal {
        .modal-dialog {
            .modal-content {
                .modal-body {
                    .card-info-body{
                        padding: 0;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .profile-page {
        .adress-inner {
            .adress-edit{
                justify-content: flex-start;
            }
        }
    }
}