.subscription{
    padding-top: 40px;
    .subscription-modal{
        display: block;
        opacity: 1;
        position: relative;
            .question-modal{
                max-width: 100%;
                .modal-header{
                    border-bottom:0;
                    h2{
                        font-size: 40px;
                        line-height: 46px;
                        font-weight: 900;
                        width: 100%;
                        text-align: center;
                    }
                    .close{
                        outline: none;
                        box-shadow: none;
                    }
                }
                .modal-content{
                    padding: 30px 30px 0;
                    border: none;
                .modal-body{
                    // padding: 10px 20px 20px;
                    .question{
                        .question-arrow{
                            display: flex;
                            justify-content: center;
                            padding-bottom: 18px;
                            transition: .75s;
                        }
                        .question-arrow-active{
                            transform: rotate(180deg);
                        }
                    }
                    .questions{
                        .btn-primary{
                            background-color: #fff;
                            color: #000;
                            border-color: #fff;
                            text-align: left;
                            font-size: 20px;
                            font-weight: 700;
                            font-family: 'lato';
                            padding: 10px 20px;
                            &:focus{
                                outline: none;
                                box-shadow: none;
                            }
                        }
                        .card-body{
                            color: #333;
                            opacity: .6;
                            border-bottom: 1px solid rgba(0,0,0,.125);
                            border-top: 0;
                            border-left: 0;
                            border-right: 0;
                            border-radius: 0;
                        }
                    }
                }
            }
            }
        }
    }